  .al {
  display: flex;
 justify-content: center;
  }
  .click {
  display: inline-block;
 } 
button {
 type: "button";
 width: 160px; 
 height: 160px;
 display: inline-block;
 margin-bottom: 8px;
 margin-right: 8px;
 white-space: normal;
 } 
 form {
 margin-bottom: 0px;
 }