td, th	{
	text-align: center;
}
.nameOrder	{
	justify-content: stretch;
}

.inputs	{
	display: flex;
	justify-content: space-between;
}

button {
	width: 30px;
	height: 30px;
	align-items: center;
}

.space	{
	display: flex;
	justify-content: stretch;
}

table	{
	width: 1200px;
}

.menu	{
	display: flex;
	justify-content: space-around;
}
