th, td	{
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	color: black;
	width: 1200px;
}
.space	{
	display: flex;
	justify-content: stretch;
}

input {
	
    border-right-width: 0px;
    border-left-width: 0px;

}
